/node_modules
/public/hot
/public/fonts
/public/dist
/public/js/tinymce
public/dist
/public/storage
/storage/*.key
/storage/debugbar/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/mix-manifest.json
public/dist/css/app.css
public/main.js
public/mix-manifest.json
public/mix-manifest.json
.DS_Store
composer.lock
